<!-- JS Plugins -->
{{ range site.Params.plugins.js }}
  <script src="{{ .link | absURL }}" {{ .attributes | safeHTMLAttr }}></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/main.js" | minify | fingerprint "sha512"}}
<script 
  src="{{ $script.Permalink }}" 
  integrity="{{ $script.Data.Integrity }}" 
  crossorigin="anonymous"
></script>

{{ $hb_theme := resources.Get "js/hb-theme.js" | minify | fingerprint "sha512"}}
<script 
  src="{{ $hb_theme.Permalink }}" 
  integrity="{{ $hb_theme.Data.Integrity }}" 
  crossorigin="anonymous"
></script>