{{ $current := .Page.RelPermalink }}
<nav
  class="container flex justify-between mt-6 items-center">
  <a href="/" class="text-xl font-semibold">
    <img src="/images/text-logo.png" alt="{{ site.Title }}" class="h-8 object-cover dark:hidden" />
    <img src="/images/text-logo-white.png" alt="{{ site.Title }}" class="h-8 object-cover hidden dark:block" />
  </a>
  <div class="hidden lg:flex gap-x-8 items-center">
    {{ range site.Menus.poetry }}
      <div class="relative group">
        <a
          href="{{ .URL }}"
          class="flex gap-x-2 items-center font-semibold w-fit text-base lg:text-lg hover:text-darkgreen 
          transition-colors duration-200 leading-tight dark:hover:text-green
          {{ if eq $current (print .URL "/") }}
            text-darkgreen
          {{ else }}
            text-dark dark:text-light
          {{ end }}"
          {{ with .Params.rel }}rel="{{ . }}" target="_blank"{{ end }}>
          {{ .Name }}
          {{ if .HasChildren }}
            <img
              src="/svg/chevron-down.svg"
              alt="chevron down"
              class="w-4 h-4 group-hover:rotate-180 transition-all duration-200" />
          {{ end }}
        </a>
        {{ if .HasChildren }}
          <div
            class="absolute top-[100%] -left-[50%] p-4 w-[350px] hidden group-hover:flex">
            <div
              class="flex flex-col gap-y-4 p-4 w-full rounded-lg border border-zinc-200 bg-white">
              {{ range .Children }}
                <a
                  href="{{ .URL }}"
                  class="font-medium w-fit text-sm lg:text-base hover:text-darkgreen transition-colors duration-200 leading-tight">
                  {{ .Name }}
                </a>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>

  {{ $show_theme_chooser := site.Params.header.show_theme_chooser | default true }}
  {{ if $show_theme_chooser }}
  <div class="px-3 text-black hover:text-primary-700 dark:text-white dark:hover:text-primary-300
        [&.active]:font-bold [&.active]:text-black/90 dark:[&.active]:text-white">
    <button class="theme-toggle mt-1" accesskey="t" title="appearance">
      <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
           fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
           stroke-linejoin="round" class="dark:hidden">
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
      </svg>
      <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
           fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
           stroke-linejoin="round" class="dark:block [&:not(dark)]:hidden">
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
      </svg>
    </button>
  </div>
  {{ end }}

  <div class="flex lg:hidden gap-x-4">
    <button class="px-2" id="toggleDrawer">
      <img src="/svg/menu.svg" alt="menu" class="w-5 h-5 -translate-y-1" />
    </button>
  </div>
  {{ partial "header/drawer" . }}
</nav>
